

.CubeAbout h2{
    text-align: right !important;
    font-weight: bold;
    padding-bottom: 30px;
}


.CubeAbout p{
text-align: right;
    
}

.CubeAbout{
    max-width: 100%;
    background: #67666282;
    padding: 40px 0px;
    color: #fff;
}

.CubeAbout .wrapper{
    max-width: 1200px;
}