@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

html{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif !important;
}

h1, .h1  {
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    display: block;
    font-family: 'Merriweather', serif;
    line-height: 2rem;
}

h1 .especial{
    font-family: 'Merriweather', serif;    
    font-size: 1.6rem;
    position: relative;
    top: -20px;
}

h2,.h2{
    padding: 10px 0px;
    font-size: 1.5rem !important;
    font-weight: bold;
    display: block;
    font-family: 'Merriweather', serif;
}

h3, .h3 {
    padding: 10px;
    font-size: 1rem !important;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    display: block;
}

h4, .h4 {
    padding: 10px;
    font-size: .7rem !important;
}

p{
    line-height: 1.6rem;
    font-size: 1rem !important;
    font-weight: 400;
    padding: 5px 0px;
}

a{
    cursor: pointer;
}

a:hover{
    transform: scale(1.01);
}

.section{
    padding: 20px;
}

.cta{
    margin: auto;
    text-align:center;
    padding:15px 50px;  
    max-width: 400px;
    display: block;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 0.8rem;
    background-color: firebrick;
    max-width: 100%;
    width: 100%;
    color: #fff !important;
    float: right;
    border:none;
    padding:15px 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

img{
    display: block;
    margin: auto;
}

.header img,
.footer img{
    float:left
}

/*
#sectionBanner{
    max-width: 1200px;
}

#sectionBanner video {
    width: 100%;
    max-width: 800px;
    display: block;
    margin: auto;
    height: auto;
    margin-top: 10px;
}


#sectionAbout .title{
    text-align: right;
}

#sectionAbout p{
    line-height: 1.2rem;
    text-align: right;
}


#SectionGraduates title{
    text-align: center;
}

#SectionModule01{
    padding-bottom: 0px;
}


#SectionModule01 .title{
    margin-bottom: 150px;
    
}

#SectionModule01 img{
    max-width: 300px; 
    margin: auto;
    display: block;
    text-align: center;
    border-radius: 5px;
}



#SectionProgramBonuses .title{
     margin-bottom: 50px;
}

#SectionProgramBonuses .itemBonuses .wrapper{
    max-width: 400px;
    margin: auto;
    display: block;
    text-align: center;
    padding: 50px 10px;
}

#SectionProgramBonuses .itemBonuses img{
    width: 120px;
    display: block;
    margin: auto;
    border-radius: 100%;
}

#SectionProgramBonuses .itemBonuses p{
    text-align: center;
    max-width: 200px;
    margin:auto;
    padding-top: 20px;
}



#SectionWhatsIncluded  .title{
    margin-bottom: 70px;
}


.ItemIncluded img{
    width: 40px;
    float: right;
}

.ItemIncluded p{
        padding-top: 0px;
}


.ItemGraduates{
    height: 500px;
    margin:auto;
    text-align: center;
    max-width: 800px;
    position: relative;
}

.ItemGraduates p{
   padding: 10px;
   text-align: left;
   max-width: 80%;
}

.ItemGraduates h3{
 padding: 0px;
 margin-bottom: 30px !important;
 text-align: left;
 max-width: 80%;
 }


.ItemGraduates img{
max-width: 100%;
}


#SectionGraduates .title{
    margin-bottom: 70px;
}

#SectionGraduates button{
    background: transparent;
    border: none;
}


.ContactForm{
    max-width: 200px;
}

.contactWrapper{
    max-width: 550px;
    margin: auto;
    display: block;
    text-align: center;
}

.contactWrapper button{
    width: 100%;
    margin: auto;
    display: block;
    text-align: center;
}

.form-control {
    font-size: .7rem;
}    


.btn {
        font-size: .7rem;
}


.section05{
    padding: 100px 20px;
}

.cta-primary{
    background-color: firebrick;
    max-width: 100%;
    width: 80%;
    color: #fff !important;
    float: right;
    border:none;
    padding:15px 20px;
}


#sectionAbout2 .title{
    text-align: right;
}

#sectionAbout2 p{
    line-height: 1.2rem;
    text-align: left;
}

.section06{
    max-width: 800px;
    margin:auto;
    border:1px solid gray;
    background:rgb(237, 238, 214);
    border-radius:10px

} */

.footer{
    padding:100px 10px 40px;
}

.footer p{
   padding: 10px 0px 
}


.header{
    padding:10px;
}

.header p{
   padding: 10px 0px 
}


.btn-primary {
    color: #fff;
    background-color: #DB5E13;
    border-color: #DB5E13;
}


.btn-primary:hover {
    color: #fff;
    background-color: #DB5E13;
    border-color: #DB5E13;
}


.CubeForm {
    max-width: 800px;
}

.CubeForm form{
    max-width: 500px;
    margin: auto;
}


.CubeAbout .btn-primary{
    max-width: 350px;
    display: block;
    margin: auto;
    float:right
}

.CubeAbout form{
    max-width: 600px;
    float: right;
    width: 500px;
}

.CubeBanner .btn-primary,
.CubeForm .btn-primary,
.CubeIncludes .btn-primary{
    max-width: 350px;
    display: block;
    margin: auto;
}


.btn-primary:not(:disabled):not(.disabled).active,
 .btn-primary:not(:disabled):not(.disabled):active, 
 .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #94908e;
    border-color: #d2d2d2;
}

.CubeIncludes svg{
    color: #db5d13;
    font-size: 36px;
}

.CubeCourses .background{
    padding: 100px 10px;
}

.CubeCourses .background p{
    margin-top: 40px;
}

.CubeCourses h3{
    padding: 30px;
}

.footer svg{
    font-size: 40px;
    color: #db5d13;
}

.footer svg:hover{
    transform: scale(1.1);
}

.CubeBanner .btn {
    max-width: 500px;
    margin-top: 40px;
    padding: 20px;
    font-size: 1.5rem;
}

#sectionC{
    background-image: url('./img/background.jpg') !important;
    padding-top: 200px;
    padding-bottom: 200px;
    min-height: 1600px;
    background-size: cover !important;
}

#Page01 #sectionA{
    background-image: url('./img/banner.png') !important;
    padding-top: 200px;
    padding-bottom: 200px;
    min-height: 800px;
    background-size: cover !important;
    
}