.CubeIncludes{
    background:#FDF7EB;
    padding: 40px 40px;
    border:1px solid #fcfcfc;
    border-radius:5px;
    max-width:800px
}

.CubeIncludes {
    background:#FDF7EB;
    padding: 40px 40px;
    border:1px solid #fcfcfc;
    border-radius:5px;
    max-width:800px
}
